<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h6>TPC Portal</h6>
                <p>A centralized platform connecting Training &amp; Placement Cell, coordinators, and students for
                    seamless placement communication.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h6>Quick Links</h6>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Home/Resources">Resources</a></li>
                    <li><a href="/Home/Coordinators">Coordinators</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h6>Contact</h6>
                <p>Training &amp; Placement Cell<br>
                    Email: tpc@college.edu<br>
                    &copy; 2026 TPC Portal</p>
            </div>
        </div>
    </div>
    <div class="footer-copy container">
        &copy; 2026 TPC Portal. All rights reserved.
    </div>
</footer>